canvas id="myCanvas" width="#{text.size*(lang=='zh-CN' ? 28 : 15)+20}" height="100" style="border:1px solid #d3d3d3;" Your browser does not support the HTML5 canvas tag.
javascript:
  $(function(){
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "30px Arial";
    ctx.strokeText("#{text}", 10, 50);
  });
