div class='col-sm-10'
  script id="#{resource.class.to_s.downcase}_#{field}" name="#{resource.class.to_s.downcase}[#{field}]" type="text/plain" #{{resource.send field}}
  javascript:
    $(document).ready(function () {
      $.getScript('/3rd/UEditor/ueditor.all.min.js', function(){
        UE.getEditor('#{resource.class.to_s.downcase}_#{field}');
      });
    });
