= stylesheet_link_tag '/3rd/jstree/themes/default/style.min.css'
= javascript_include_tag '/3rd/jstree/jstree.min.js'
javascript:
  $(function(){
    $('#{id}').jstree({
      core:{
        data:{
          url: '#{path}',
          dataType: 'json'
        }
      }
    });
  });